<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="flex items-start gap-3">
        <div class="w-10 h-10 bg-red-500 rounded-mb">
            <img class="w-full h-full object-cover" src="/public/uploads/<%=userDetail.photo%>" alt="">
        </div>
        <h3 class="text-3xl"><span class="font-light">Hello</span>, <%=userDetail.username%>👋</h3>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</html>